@{
    ViewData["Title"] = "Home Page";
}




<TABLE BORDER=”2″>
    <TR>
        <TD>Cell contents</TD>
        <TD>Cell contents</TD>
        <TD>Cell contents</TD>
    </TR>
    <TR>
        <TD>Cell contents</TD>
        <TD>Cell contents</TD>
        <TD>Cell contents</TD>
    </TR>
</TABLE>
