@model ProductViewModel
@{
    ViewData["Title"] = " Product N" + Model.Id;
}

<div style="width: 18rem">
    <div>
        <p>@Model.Id</p>
        <p>@Model.Name</p>
        <p>@Model.Price</p>
    </div>
</div>